
<div class="main-content">
    <div class="main-content-list">
        <div class="recipe recipe-list-item">
            <div class="recipe">
                <div class="recipe-cover">
                    <a href="/">
                        <img alt="vegetais" src="./../../../../assets/images/carnes.jpg" width="550" height="320" />
                    </a>
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">
                        <a href="https://unsplash.com/pt-br/fotografias/foto-em-close-up-da-salada-de-legumes--ftWfohtjNw">
                            Como congelar Carnes
                        </a>
                    </h2>
                    <div class="recipe-author">
                        <div class="recipe-meta-container">
                            <div class="recipe-meta recipe-preparation">
                                <div class="recipe-meta-text">
                                    <p class="recipe-dicas">Dicas gerais:</p>
                                    <p class="recipe-texto-dicas">Congelar carnes é uma ótima maneira de garantir que você sempre tenha opções deliciosas e nutritivas à mão para suas refeições, além de evitar o desperdício. No entanto, para manter a qualidade, o sabor e a textura da carne durante o congelamento.</p> 
                                    <ol>
                                        <li>Escolha carnes frescas de boa qualidade: A qualidade da carne antes do congelamento influenciará diretamente o resultado final após o descongelamento. Opte por cortes frescos e de boa procedência.</li>
                                        <li>Remova o excesso de gordura e ossos: O excesso de gordura pode rançar durante o congelamento, afetando o sabor da carne. Remova o excesso de gordura e ossos antes de congelar.</li>
                                        <li>Porcione em pedaços adequados: Divida a carne em porções do tamanho que você costuma usar nas suas receitas. Isso facilita o descongelamento e evita o desperdício.</li>
                                        <li>Etiquete com data de congelamento: Utilize etiquetas adesivas ou escreva diretamente na embalagem a data em que a carne foi congelada. Isso ajuda a controlar o tempo de armazenamento e priorizar o consumo das carnes mais antigas.</li>
                                    </ol>              
                                    <p class="recipe-dicas">Métodos de congelamento:</p>
                                        <ol>
                                            <li>Congelamento a seco: O método mais simples e rápido. Enrole cada pedaço de carne em papel filme ou utilize sacos plásticos próprios para congelamento, removendo o máximo de ar possível antes de selar.</li>
                                            <li>Congelamento a vácuo: Esse método garante um congelamento mais eficiente, evitando queimaduras por frio e preservando melhor a qualidade da carne. Utilize um aparelho de selagem a vácuo para remover o ar dos sacos antes de congelar</li>
                                            <li>
                                                Marinar antes de congelar: Você pode marinar a carne antes de congelá-la para adicionar sabor e maciez. Utilize marinadas sem laticínios ou ovos, pois esses ingredientes podem alterar a textura da carne durante o congelamento.
                                            </li>
                                        </ol>
                                        <p class="recipe-dicas">Dicas para Congelar Carnes:</p>
                                        <ol>
                                            <li>
                                                Congele carnes cruas e cozidas: É possível congelar tanto carnes cruas quanto carnes cozidas. Carnes cozidas geralmente duram menos tempo no congelador do que carnes cruas.
                                            </li>
                                            <li>
                                                Evite recongelar carnes: O recongelamento pode prejudicar a qualidade, o sabor e a textura da carne.
                                            </li>
                                            <li>Não congele carnes temperadas com sal: O sal pode desidratar a carne durante o congelamento, afetando sua textura. Tempere a carne apenas após o descongelamento.
                                            </li>
                                            <li>
                                                Descongele na geladeira ou no micro-ondas: O descongelamento na geladeira é o método mais seguro e preserva melhor a qualidade da carne. O micro-ondas pode ser usado para um descongelamento rápido, mas é importante prestar atenção para evitar cozinhar a carne.
                                            </li>
                                            <li>
                                                Utilize a carne descongelada em até 3 dias: A carne descongelada deve ser cozida e consumida em até 3 dias para garantir a segurança alimentar.
                                            </li>
                                        </ol>
                                    <p class="recipe-dicas">Tempo congelamento para Carnes:</p>
                                    <ul>
                                        <li>
                                            Carnes vermelhas (bovina, suína): até 6 meses
                                        </li>
                                        <li>
                                            Carnes de frango e peru: até 3 meses
                                        </li>
                                        <li>
                                            Carnes moídas: até 2 meses
                                        </li>
                                        <li>
                                            Carnes cozidas: até 3 meses
                                        </li>
                                    </ul>
                                    <p class="texto-congelamento">Descongele a carne na geladeira ou no micro-ondas e utilize-a em até 3 dias.</p>
                                </div>
                            </div>
                        </div>
        
                        <div class="recipe-content">
                            <p>Author: Marina Silveira Reato</p>
                        </div>
        
        
                    </div>
                </div>
            </div>
            
    
        </div>
        <div class="recipe recipe-list-item">
            <div class="recipe">
                <div class="recipe-cover">
                    <a href="/">
                        <img alt="vegetais" src="./../../../../assets/images/arroz.jpg" width="550" height="320" />
                    </a>
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">
                        <a href="https://unsplash.com/pt-br/fotografias/foto-em-close-up-da-salada-de-legumes--ftWfohtjNw">
                            Como congelar Arroz e Leguminosas
                        </a>
                    </h2>
                    <div class="recipe-author">
                        <div class="recipe-meta-container">
                            <div class="recipe-meta recipe-preparation">
                                <div class="recipe-meta-text">
                                    <p class="recipe-dicas">Dicas gerais:</p>
                                    <p class="recipe-texto-dicas">Congelar arroz e leguminosas é uma ótima maneira de economizar tempo e dinheiro na cozinha. Dessa forma, você terá sempre opções nutritivas e deliciosas à mão para preparar refeições rápidas e práticas durante a semana.</p> 
                                    <ol>
                                        <li>Cozinhe o arroz: Lave o arroz e cozinhe-o de acordo com as instruções da embalagem ou do seu método preferido. Certifique-se de que o arroz esteja cozido, mas não empapado</li>
                                        <li>Esfrie o arroz: Espalhe o arroz cozido em uma assadeira ou outro recipiente grande para esfriar rapidamente. Mexa o arroz ocasionalmente para garantir que esfrie uniformemente.
                                        </li>
                                        <li>Porcione o arroz: Divida o arroz em porções do tamanho desejado. Você pode usar xícaras medidoras, potes herméticos ou saquinhos para porcionar.
                                        </li>
                                        <li>Congele o arroz: Etiquete os recipientes ou saquinhos com a data de congelamento e coloque-os no congelador. O arroz congelado pode durar até 3 meses no congelador.</li>
                                        <li>
                                            Não congele o arroz com molhos ou temperos, pois isso pode afetar a textura e o sabor do arroz após o descongelamento.
                                        </li>
                                        <li>
                                            Deixe um espaço livre nos recipientes ou saquinhos ao congelar, pois o arroz se expande durante o congelamento.
                                        </li>
                                        <li>
                                            Descongele o arroz na geladeira ou no micro-ondas antes de usá-lo.
                                        </li>
                                    
                                    </ol> 
                                    <p class="recipe-dicas">Tipos Congelamento</p>
                                    <ol>
                                        <li>Congelamento a seco: O arroz congelado a seco dura um pouco menos do que o congelado a vácuo, pois pode haver queimadura por frio</li>
                                        <li>Esse método preserva melhor a qualidade do arroz, pois remove o ar dos sacos e evita a queimadura por frio. O arroz congelado a vácuo pode durar até 3 meses (arroz branco) ou 6 meses (arroz integral).</li>
                                    </ol>
                                    <p class="recipe-dicas">Tempo Congelamento:</p>
                                    <ul>
                                        <li>
                                            Arroz branco: Dura até 3 meses no congelador
                                        </li>
                                        <li>
                                            Arroz integral: Dura até 6 meses no congelador.
                                        </li>
                                        <li>Arroz cozido com temperos ou molhos: O tempo de congelamento pode ser menor, pois os temperos e molhos podem afetar a textura e o sabor do arroz após o descongelamento. É recomendado congelar o arroz sem temperos e adicionar os temperos apenas após o descongelamento.
                                        </li>
                                    </ul>
                                <p class="recipe-dicas">Dicas para aumentar o tempo de congelamento do arroz:</p>
                                <ul>
                                    <li>
                                        Cozinhe o arroz corretamente: O arroz deve estar cozido, mas não empapado, antes de ser congelado.
                                    </li>
                                    <li>
                                        Esfrie o arroz rapidamente: Espalhe o arroz cozido em uma assadeira ou outro recipiente grande para esfriar rapidamente antes de congelá-lo.
                                    </li>
                                    <li>
                                        Porcione o arroz em porções individuais: Isso facilita o descongelamento e evita o desperdício.
                                    </li>
                                    <li>
                                        Remova o máximo de ar possível dos sacos de congelamento: Isso ajuda a prevenir queimaduras por frio.
                                    </li>
                                    <li>
                                        Etiquete os sacos com a data de congelamento: Isso ajuda a controlar o tempo de armazenamento e priorizar o consumo das carnes mais antigas.
                                    </li>
                                </ul>            
                                    <p class="recipe-dicas">Descongelamento de arroz e leguminosas</p>
                                    <p class="texto-congelamento">Método lento e seguro: Transfira o arroz congelado do congelador para a geladeira na noite anterior ao uso. Este método garante um descongelamento gradual e uniforme, preservando a textura do arroz.</p>
                                </div>
                            </div>
                        </div>
        
                        <div class="recipe-content">
                            <p>Author: Marina Silveira Reato</p>
                        </div>
        
        
                    </div>
                </div>
            </div>
            
    
        </div>
        <div class="recipe recipe-list-item">
            <div class="recipe">
                <div class="recipe-cover">
                    <a href="/">
                        <img alt="vegetais" src="./../../../../assets/images/vegetais2.jpg" width="520" height="320" />
                    </a>
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">
                        <a href="https://unsplash.com/pt-br/fotografias/foto-em-close-up-da-salada-de-legumes--ftWfohtjNw">
                            Como congelar Vegetais
                        </a>
                    </h2>
                    <div class="recipe-author">
                        <div class="recipe-meta-container">
                            <div class="recipe-meta recipe-preparation">
                                <div class="recipe-meta-text">
                                    <p class="recipe-dicas">Dicas gerais:</p>
                                    <p class="recipe-texto-dicas">Escolha vegetais frescos e de boa qualidade.</p> 
                                    <ol>
                                        <li>Seque-os completamente antes de congelá-los.</li>
                                        <li>Corte os vegetais em pedaços de tamanho uniforme. Isso ajudará a garantir que eles congelem e descongelem uniformemente. </li>
                                        <li>Coloque os vegetais em uma única camada em uma assadeira forrada com papel manteiga</li>
                                        <li>Congele os vegetais por algumas horas, até que estejam firmes.</li>
                                        <li>Transfira os vegetais congelados para sacos ou recipientes herméticos.</li>
                                        <li>Etiquete os sacos ou recipientes com o nome do vegetal e a data de congelamento.</li>
                                    </ol>              
                                    <p class="recipe-dicas">Descongelamento de vegetais:</p>
                                    <p class="texto-congelamento">Os vegetais podem ser descongelados na geladeira, em água fria
                                        ou
                                        no
                                        micro-ondas. Não é necessário descongelar os vegetais antes de cozinhá-los.</p>
                                </div>
                            </div>
                        </div>
        
                        <div class="recipe-content">
                            <p>Author: Marina Silveira Reato</p>
                        </div>
        
        
                    </div>
                </div>
            </div>
            
    
        </div>
    </div>
</div>
