<div class="main-content">
    <h1>Como congelar</h1>
    <div class="main-content-list">
      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img alt="vegetais" src="./../../../../assets/images/vegetais.jpg" />
        </div>
        <div class="recipe-title-container">
          <h2 class="recipe-title">Vegetais</h2>
        </div>
        <div class="recipe-author">
          <div class="recipe-meta-container">
            <div class="recipe-meta recipe-preparation">
              <div class="recipe-meta-text">
                <p class="recipe-texto-dicas"> ESCOLHA VEGETAIS FRESCOS <br></p>
                <p class="recipe-texto-dicas"> MERGULHE EM ÁGUA FERVENTE <br></p>
                <p class="recipe-texto-dicas"> SEQUE OS VEGETAIS <br></p>
                <p class="recipe-texto-dicas"> CONGELE À VÁCUO <br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img alt="leguminosas" src="./../../../../assets/images/leguminosas.jpg" />
        </div>
        <div class="recipe-title-container">
          <h2 class="recipe-title">Leguminosas</h2>
        </div>
        <div class="recipe-author">
          <div class="recipe-meta-container">
            <div class="recipe-meta recipe-preparation">
              <div class="recipe-meta-text">
                <p class="recipe-texto-dicas"> ESCOLHA LEGUMINOSAS FRESCAS <br></p>
                <p class="recipe-texto-dicas"> COZINHE À VAPOR <br></p>
                <p class="recipe-texto-dicas"> SEQUE AS LEGUMINOSAS <br></p>
                <p class="recipe-texto-dicas"> ARMAZENE EM POTES COM BOA VEDAÇÃO <br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img alt="carnes" src="./../../../../assets/images/carnes.jpg" />
        </div>
        <div class="recipe-title-container">
          <h2 class="recipe-title">Carnes</h2>
        </div>
        <div class="recipe-author">
          <div class="recipe-meta-container">
            <div class="recipe-meta recipe-preparation">
              <div class="recipe-meta-text">
                <p class="recipe-texto-dicas"> PREFIRA PEÇAS MENORES<br></p>
                <p class="recipe-texto-dicas"> COZINHE SEM TEMPERAR<br></p>
                <p class="recipe-texto-dicas"> ARMAZENE À VACUO<br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>