<header class="menu">
  <p-menubar [model]="items" class="menubar-items" [style]="{'justify-content': 'flex-start'}">
    <ng-template pTemplate="start">
      <img alt="Rango's WEEK logo" src="assets/images/rangos-week-logo.png" class="img" />
      <img alt="Rango's WEEK logo" src="assets/images/leaf-logo.png" class="img-leaf"/>
    </ng-template>
    <ng-template class="login" pTemplate="end">
      <button 
        *ngIf="!isLoggedIn" 
        pButton 
        pRipple
        class="p-button-rounded login-button" 
        (click)="navigateToLogin()"
      >
        <i class="pi pi-user"></i>
        <span>Login</span>
      </button>
    </ng-template>
  </p-menubar>
</header>