::ng-deep .p-menubar {
    background-color: rgba(239, 244, 214, 1);
    font-size: 16px;
}

::ng-deep .p-menuitem:hover {
    border-radius: 25px;
}

:host ::ng-deep p-menubarsub {
    width: 100%;
}