::ng-deep .p-menubar {
    background: linear-gradient(90deg, rgb(225, 236, 174) 0%, #ADC865 70%);
    font-size: 1.2rem;
}

::ng-deep .p-menuitem:hover {
    background-color: #02542D;
    border-radius: 25px;
}

::ng-deep .p-menuitem-text {
    font-family: "Oleo Script", system-ui;
    transform: scale(1.01);
    animation-delay: initial;
    color: #02542D;
}

:host ::ng-deep p-menubarsub {
    width: 100%;
}

.img {
    width: 40%;
    padding: 2%;
}

.menubar-items {
    color: #02542D;
}

.img-leaf {
    width: 6%;
    padding-bottom: 7%;
}

.login-button {
    margin-left: auto;
    margin-right: 20px;
    background: none;
    border: none;
    color: #02542D;
    font-size: 1.5rem;
    font-family: "Oleo Script", system-ui;
    background-color: #FFB357;
    border-radius : 10px;
}

.login-button:hover {
    background-color: #f8a53f;
}

.login-button:focus {
    box-shadow: none;
}