.panel {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.panel-title {
  font-size: 1.5rem;
  color: var(--color-alert-dark);
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.field {
  margin-bottom: 35px;
}

.labelItem {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-bottom: 8px;
}

.editDeleteButtons {
  margin-right: 10px;
  margin-left: 22px;
}

.sugestao-cardapio {
  width: 100%;
}