.panel {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.panel-title {
    font-size: 24px;
}

:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.field {
    margin-bottom: 35px;
}

.labelItem {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 8px;
}

.editDeleteButtons {
    margin-right:10px;
    margin-left:22px;
}