<div class="panel">
  <p class="panel-title">
    {{ currentDate | date : "EEEE, dd/MM/yyyy" | capitalizeFirstLetter }}
  </p>
  <div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
      <p-table
        [value]="cols"
        dataKey="field"
        [tableStyle]="{ 'min-width': '80rem' }"
      >
        <ng-template pTemplate="header">
          <tr class="">
            <th style="width: 5rem"></th>
            <th style="font-size: 1.2rem">Refeição</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-col let-expanded="expanded">
          <tr>
            <td>
              <p-button
                type="button"
                pRipple
                [pRowToggler]="col"
                [text]="true"
                [rounded]="true"
                [plain]="true"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              />
            </td>
            <td>{{ col.header }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-col>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="col.details" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 4rem"></th>
                      <th
                        pSortableColumn="nome_alimento"
                        style="min-width: 15rem"
                      >
                        Nome do Alimento
                        <p-sortIcon field="nome_alimento"></p-sortIcon>
                      </th>
                      <th pSortableColumn="kcal">
                        Calorias (kcal) <p-sortIcon field="kcal"></p-sortIcon>
                      </th>
                      <th pSortableColumn="quantidade" style="min-width: 10rem">
                        Quantidade (g)
                        <p-sortIcon field="quantidade"></p-sortIcon>
                      </th>
                      <th
                        pSortableColumn="nome_categoria"
                        style="min-width: 10rem"
                      >
                        Categoria
                        <p-sortIcon field="nome_categoria"></p-sortIcon>
                      </th>
                      <th>
                        <button
                          pButton
                          pRipple
                          label="Adicionar alimento"
                          icon="pi pi-plus"
                          class="p-button-success mr-2"
                          (click)="openNew()"
                        ></button>
                      </th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-detail>
                    <tr>
                      <td></td>
                      <td>{{ detail.nome_alimento }}</td>
                      <td>{{ detail.kcal }}</td>
                      <td>{{ detail.quantidade }}</td>
                      <td>{{ detail.nome_categoria }}</td>
                      <td>
                        <button
                          pButton
                          pRipple
                          icon="pi pi-pencil"
                          class="p-button-rounded p-button-success editDeleteButtons"
                          (click)="editAlimentoCardapio(detail)"
                        ></button>
                        <button
                          pButton
                          pRipple
                          icon="pi pi-trash"
                          class="p-button-rounded p-button-warning editDeleteButtons"
                          (click)="deleteAlimentoCardapio(detail)"
                        ></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-toolbar>
    <p-dialog
      [(visible)]="cardapioDialog"
      [style]="{ 'width': '40rem', 'height': '25rem' }"
      header="Detalhes do Alimento"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="formgrid grid">
          <div class="field">
            <label for="nome_alimento" class="labelItem">Nome do alimento</label>
            <p-dropdown
              [options]="alimentoOptions"
              [(ngModel)]="selectedAlimento"
              optionLabel="nome_alimento"
              [filter]="true"
              filterBy="nome_alimento"
              [showClear]="true"
              placeholder="Selecione um alimento"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.nome_alimento }}</div>
                </div>
              </ng-template>
              <ng-template let-alimento pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ alimento.nome_alimento }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          [text]="true"
          (click)="hideDialog()"
        />
        <p-button (click)="saveAlimentoCardapio()" pRipple label="Salvar" icon="pi pi-check" [text]="true" />
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />
  </div>
</div>
