<div class="register-container">
  <div class="register-left">
    <div class="register-header">
      <h2>Cadastre-se!</h2>
      <img alt="Rango's WEEK logo" src="./../../../../assets/images/leaf-logo.png" class="img-leaf"/>
    </div>
    <form (submit)="onSubmit($event)">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" placeholder="">
      <label for="date">Data de Nascimento</label>
      <input type="date" id="date" name="date" placeholder="00/00/0000">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="test@email.com">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" placeholder="******">
      <button type="submit" class="btn btn-signin">Concluir</button>
    </form>
  </div>
  <div class="register-right">
    <div class="register-info">
      <img src="./../../../../assets/images/rangos-week-login.png" alt="Rango's Week login">
    </div>
  </div>
</div>