<div class="login-container">
    <div class="login-left">
        <h2>Cadastre a sua conta</h2>
        <form>
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" placeholder="Fulano da Silva">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="test@email.com">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="******">
            <button type="submit" class="btn btn-signin"><a href="http://localhost:4200/login">Criar usuário</a></button>
        </form>
    </div>
    <div class="login-right">
    <div class="login-info">
        <img src="./../../../../assets/images/rangos-week-login.png" alt="Rango's Week login">
    </div>
    </div>
</div>