@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    font-family: 'Open Sans';
    line-height: 1;
    font-weight: 400;
}

body {
    background-color: rgb(250, 250, 250);
}