
<div class="main-content">
    <div class="main-content-list">
        <div class="sobre sobre-list-item">
            <div class="sobre">
                <div class="sobre-cover">
                    <a href="/">
                        <img alt="vegetais" src="./../../../../assets/images/carolina.jpg" witdth="250" height="200" />
                    </a>
                </div>
                <div class="sobre-title-container">
                    <h2 class="sobre-title">
                        <a href="https://unsplash.com/pt-br/fotografias/foto-em-close-up-da-salada-de-legumes--ftWfohtjNw">
                            Caroline Muniz Neves Tonon
                        </a>
                    </h2>
                    <div class="sobre-author">
                        <div class="sobre-meta-container">
                            <div class="sobre-meta sobre-preparation">
                                <div class="sobre-meta-text">
                                    <p class="sobre-dicas"> Product Manager</p>            
                                    <p class="sobre-dicas"><a href="#" target="blank">Perfil Github</a></p>    
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            
    
        </div>
        <div class="sobre sobre-list-item">
            <div class="sobre">
                <div class="sobre-cover">
                    <a href="/">
                        <img alt="vegetais" src="./../../../../assets/images/estela.jpeg" witdth="250" height="200" />
                    </a>
                </div>
                <div class="sobre-title-container">
                    <h2 class="sobre-title">
                        <a href="https://unsplash.com/pt-br/fotografias/foto-em-close-up-da-salada-de-legumes--ftWfohtjNw">
                            Estela de Oliveira
                        </a>
                    </h2>
                    <div class="sobre-author">
                        <div class="sobre-meta-container">
                            <div class="sobre-meta sobre-preparation">
                                <div class="sobre-meta-text">
                                    <p class="sobre-dicas"> Backend Developer</p>            
                                    <p class="sobre-dicas"><a href="https://github.com/estelaoli23" target="blank">Perfil Github</a></p>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            
    
        </div>
        <div class="sobre sobre-list-item">
            <div class="sobre">
                <div class="sobre-cover">
                    <a href="/">
                        <img alt="vegetais" src="./../../../../assets/images/genesis.jpg" witdth="250" height="200" />
                    </a>
                </div>
                <div class="sobre-title-container">
                    <h2 class="sobre-title">
                        <a href="https://unsplash.com/pt-br/fotografias/foto-em-close-up-da-salada-de-legumes--ftWfohtjNw">
                            Gênesis Muniz Neves
                        </a>
                    </h2>
                    <div class="sobre-author">
                        <div class="sobre-meta-container">
                            <div class="sobre-meta sobre-preparation">
                                <div class="sobre-meta-text">
                                    <p class="sobre-dicas"> Product Owner</p>            
                                    <p class="sobre-dicas"><a href="#" target="blank">Perfil Github</a></p>    
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            
    
        </div>
    
        <div class="sobre sobre-list-item">
            <div class="sobre">
                <div class="sobre-cover">
                    <a href="/">
                        <img alt="vegetais" src="./../../../../assets/images/lais.jpeg" witdth="250" height="200" />
                    </a>
                </div>
                <div class="sobre-title-container">
                    <h2 class="sobre-title">
                        <a href="https://unsplash.com/pt-br/fotografias/foto-em-close-up-da-salada-de-legumes--ftWfohtjNw">
                            Lais 
                        </a>
                    </h2>
                    <div class="sobre-author">
                        <div class="sobre-meta-container">
                            <div class="sobre-meta sobre-preparation">
                                <div class="sobre-meta-text">
                                    <p class="sobre-dicas"> Frontend Developer</p>  
                                    <p class="sobre-dicas"><a href="https://github.com/laisferdan" target="blank">Perfil Github</a></p>          
                          
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            
    
        </div>
       
    </div>
</div>

